name: kartograf
channels:
  - conda-forge
dependencies:
  - dill
  - python
  - pip
  #Test
  - pytest
  - pytest-cov
  - pytest-xdist
  - coverage
  - mypy
  - nbval
  #Typing
  - gufe>=1.0
  - typing-extensions
  - openff-units != 0.2.3
  # Sci
  - numpy
  - scipy
  # Chem
  - rdkit
  # docs
  - myst-parser
  - pydata-sphinx-theme
  # vis
  - ipywidgets
  - py3Dmol
  # docs
  - pip:
    - git+https://github.com/OpenFreeEnergy/ofe-sphinx-theme@a45f3edd5bc3e973c1a01b577c71efa1b62a65d6
    - git+https://github.com/OpenFreeEnergy/openfe-benchmarks.git@d5a027e4e3cb53e47d4b230e8ddffda274b70aff

