[build-system]
requires=[
	"setuptools>=61.0",
	"versioningit",
]
build-backend = "setuptools.build_meta"

[project]
name = "kartograf"
dynamic = ["version"]
authors=[
    {name="Benjamin Ries", email="benjamin-ries@outlook.com"},
    {name="David Swenson", email="dwhswenson@gmail.com"},
    {name="Irfan Alibay", email="irfan.alibay@gmail.com"},
    {name="Mike Henry", email="mike.henry@choderalab.org"},
    {name="Richard J Gowers", email="richardjgowers@gmail.com"},
]
dependencies = [
  'rdkit',
  'scipy',
  'numpy',
  'networkx',
]
description="Kartograf is an package for a setting up free energy calculation."
readme="README.md"
requires-python = ">=3.9"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/OpenFreeEnergy/kartograf"

[tool.versioningit]
default-version = "1+unknown"

[tool.versioningit.format]
distance = "{base_version}+{distance}.{vcs}{rev}"
dirty = "{base_version}+{distance}.{vcs}{rev}.dirty"
distance-dirty = "{base_version}+{distance}.{vcs}{rev}.dirty"

[tool.versioningit.vcs]
method = "git" 
match = ["*"]
default-tag = "0.0.0"

[tool.versioningit.write]
file = "src/kartograf/_version.py"
