[build-system]
requires=['setuptools>=61.0']
build-backend = "setuptools.build_meta"

[project]
name = "kartograph"
version = "0.0.1"
authors=[
    {name="Benjamin Ries", email="benjamin-ries@outlook.com"},
    {name="Richard J Gowers", email="richardjgowers@gmail.com"},
]
dependencies = [
  'rdkit',
  'scipy',
  'numpy',
]
description="This is an package for a setting up free energy calculation."
readme="README.md"
requires-python = ">=3.9"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/OpenFreeEnergy/kartograph"