name: kartograf
channels:
  - conda-forge
dependencies:
  - dill
  - python==3.13
  - pip
  #Typing
  - gufe>=1.0
  - typing-extensions
  - openff-units != 0.2.3
  # Sci
  - numpy ~=2.0
  - scipy
  # Chem
  - rdkit
  # docs
  - docutils == 0.20
  - myst-parser
  - pydata-sphinx-theme
  - nbsphinx-link
  # vis
  - ipywidgets
  - py3Dmol
  # docs
  - pip:
    - git+https://github.com/OpenFreeEnergy/ofe-sphinx-theme@a45f3edd5bc3e973c1a01b577c71efa1b62a65d6
